html, body, .container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-list {
  font-size: larger;
}

.option-container {
  display: flex;
  gap: 1em;
  font-size: larger;
}

button {
  font-size: large;
  padding: 7px;
  width: 90px;
}

h2 {
  margin-bottom: 0;
}

.final {
  font-size: large;
}

.start-msg {
  font-size: x-large;
}